@import '../Styles/colors.scss';

.category-detail {   
  justify-content: center;
  min-width: 360px;

  > .keywords {
    padding: 10px;  
    height: calc(100vh - 20vh - 40px);
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
    > footer {
      justify-content: center;
      align-items: center;
      background: $header-color;
      position: fixed;
      height: 13vh;
      bottom: 0;
      width: 70%;
      display: flex;
      min-width: 360px;
  
      > div {
        text-align: center;
      
        > form {
          > input {
            border: 1px solid;
            border-radius: 5px 0px 0px 5px;
            height: 35px;
            width: 250px;
          }
      
          > button {      
            border: 1px solid $dark-primary-color;
            border-radius: 0px 5px 5px 0px;
            height: 39px;
            background: $primary-color;
            color: $base-color;
          }
        }
    }
  }
  
}