@import '../Styles/colors.scss';

.form {
  > form {
    text-align: center;
    
    > input {
      border: 1px solid;
      border-radius: 5px 0px 0px 5px;
      height: 35px;
      width: 250px;
    }
  
    > button {      
      border: 1px solid $dark-primary-color;
      border-radius: 0px 5px 5px 0px;
      height: 39px;
      background: $primary-color;
      color: $base-color;
      cursor: pointer;
    }

    > button:hover { 
      background: $base-color;
      color: $primary-color;
    }
  }

  > .error {
    color: $error;
  }
  
  > .success {
    color: $primary-color;
  }  
}
