@import '../../Components/Styles/colors.scss';

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  width: 30%;
  border-right: 1px solid $secondary-color;
  min-width: 275px;
}

.category-detail {
  width: 100%;
}


