@import '../Styles/colors.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  padding: 10px;
  background: $header-color;

  span {
    cursor: pointer; 
  }

  svg {
    transform: scale(0.7);
  }

  .add {
    fill: $primary-color;
  }

  .remove {
    fill: $danger;
    transform: scale(0.7) rotate(45deg);
  }

}